<header>Logo here {{ param.active }} </header>
<nav>
    <ul>
        <li><a class="{{ 'active' if param.active == 'home' else '' }}" href="{{ url_for('main.home') }}">Home</a></li>
        <li><a class="{{ 'active' if param.active == 'about' else '' }}" href="{{ url_for('main.about') }}">About</a></li>
        <li><a class="{{ 'active' if param.active == 'post' else '' }}" href="{{ url_for('posts.new_post') }}">New post</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
        <li><a class="{{ 'active' if param.active == 'account' else '' }}" href="{{ url_for('users.account') }}">Account</a></li>
        {% else %}
        <li><a class="{{ 'active' if param.active == 'registration' else '' }}" href="{{ url_for('users.register') }}">Register</a></li>
        <li><a class="{{ 'active' if param.active == 'login' else '' }}" href="{{ url_for('users.login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>