# Byte-compiled / optimized / DLL files
flask_sandbox/**/__pycache__/
flask_sandbox/__pycache__/
__pycache__/
*.py[cod]
#other folders
include
Lib
Scripts
tcl

#files
pip-selfcheck.json
flask_sandbox/.env
flask_sandbox/side.db
/**/*.py[co]